base: &base
  adapter: mysql2
  host: localhost
  encoding: utf8
  reconnect: ture
  timeout: 1000
  pool: 30
  username: root
  password: 123456

development:
  <<: *base
  database: rails_gems_tool_dev


production:
  <<: *base
  database: rails_gems_tool

test:
  <<: *base
  database: rails_gems_tool_test